<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html>
	<head>
		<title>TITLE</title>
	</head>
	<style type="text/css">
ALL_STYLES
	</style>
	<body>
		<div class="grid">
			<div class="colorCol">
				<div class="square color1">COLOR1</div>
				<div class="square color2">COLOR2</div>
				<div class="square color3">COLOR3</div>
				<div class="square color4">COLOR4</div>
				<div class="square color5">COLOR5</div>
			</div>
			<div class="colorCol">
				<div class="square color6">COLOR6</div>
				<div class="square color7">COLOR7</div>
				<div class="square color8">COLOR8</div>
				<div class="square color9">COLOR9</div>
				<div class="square color10">COLOR10</div>
    		</div>
			<div class="posterCol"/>
		</div>
	</body>
</html>
